.sign {
    font-size: 25px;
  }
  .accordian {
    width: 300px;
    border: 1px solid rgb(133, 133, 133);
  }
  .accordian-header {
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 15px;
    border: 2px solid rgb(133, 133, 133);
    background-color: rgb(255, 255, 143);
  }
  .accordian-body {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*animation*/
    /* animation-name: animation;
    animation-duration: 2s; */
  }
  .accButton {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    width: 95%;
  }
  /* @keyframes animation {
    from {height: 0px;}
    to {height: 100%;}
  } */